.bannerContainer {
  object-fit: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.banner {
  object-fit: cover;
  max-height: 60vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  border-radius: 0px;
  margin: 0% 0% 0% 0%;
  padding: 0% 0% 1% 0%;
  background-color: var(--color-offwhite);
}

.playButtonContainer {
  max-height: 50px;
  position: absolute;
  margin: 7% 25% 0% 0%;
}

.playButton {
  max-height: 7vh;
  cursor: pointer;
}



.playButton:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.playButton:active {
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08);
}



@media only screen and (max-width: 1400px) {
  .banner {
    width: 100%;
  }
}
